<% @categories.each do |category| %>
 	<small> <%= link_to category.title, category_path(category) %>  -   </small>
<% end %>

<% @categories.each do |category| %>
	<ul> <h4><%=category.title%></h4>
	<% category.items.each do |item| %>
 		<%if item.inventory? %>
  		<li><%= item.title %> | <%= number_to_currency(item.price.to_f/100) %> | <%= button_to 'Add to Cart', line_items_path(item_id: item) %></li>
		<% end %>
	</ul><br>
	<% end %>
	
<%end%>

